@model IEnumerable<MVC.ViewModels.CategoryVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />
<p>
    @Html.ActionLink("Create New", "Create", null,  new { @class = "btn-create" })
</p>
<br />
@using (Html.BeginForm("Index", "Category", FormMethod.Get))
{
    @Html.TextBox("query")
    <input class="textcolor1" type="submit" value="Search" />
}

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn-edit" })  |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn-details" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn-delete" })
            </td>
        </tr>
    }

</table>
